html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    color: #000;
    background-color: #f4f4f4;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    margin: 0;
}

/* --- EWTV --- */
.ewtv-overview {
    background-color: #fff;
    width: 6%;
    height: 100%;
    float: left;
    box-shadow: 0px 1px 40px 2px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ewtv-overview h1 {
    position: absolute;
    top: 0;
    font-size: 1.5rem;
    margin: 2rem 0;
}
.tw {
    margin-bottom: 4rem;
}
.ewtv-overview p {
    color: #adadad;
    font-size: 0.9rem;
    margin-bottom: 0;
}
.tw-number {
    color: #00c4ee;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
}
.hexagon {
    position: relative;
    width: 300px;
    height: 173.21px;
    margin: 86.60px 0;
}
.hexagon {
    position: relative;
    width: 80px;
    height: 46.19px;
    margin: 23.09px 0;
    border-left: solid 3px #000000;
    border-right: solid 3px #000000;
}
.hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 56.57px;
    height: 56.57px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    left: 8.7157px;
}
.hexagon:before {
    top: -28.2843px;
    border-top: solid 4.2426px #000000;
    border-right: solid 4.2426px #000000;
}
.hexagon:after {
    bottom: -28.2843px;
    border-bottom: solid 4.2426px #000000;
    border-left: solid 4.2426px #000000;
}
.online-overview {
    color: #ff4abd;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
}

/* --- Sections --- */
.section-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.section-container h1 {
    color: #adadad;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 2rem;
}

/* --- Senast ändrat --- */
.changes-wrapper {
    width: 44%;
}
.changes-container {
    width: 60%;
}
.latest-changes, .online-users, .top-visited {
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.latest-changes:first-of-type, .online-users:first-of-type, .top-visited:first-of-type {
    background-color: #fff;
    box-shadow: 0px 1px 30px 0px rgba(0,0,0,0.06);
}
.latest-changes div {
    display: flex;
    align-items: center;
}
.changes-company, .user-email, .top-company {
    font-weight: 700;
}
.changes-company {
    margin: 0 0.5rem;
}
.changes-page {
    margin: 0 0.5rem;
}
.changes-time {
    color: #adadad;
}

/* --- Boxarna --- */
.box-wrapper {
    color: #adadad;
    float: left;
    width: 16.6%;
    height: 100%;
    display: flex;
    align-items: center;
}
.box-container {
    width: 100%;
}
.box {
    position: relative;
    width: 80%;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 30px 0px rgba(0,0,0,0.06);
    margin-bottom: 2rem;
}
.box:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.box-content {
    font-size: 1.1rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.box-content p {
    margin-top: 0;
}
.pie-wrapper {
    padding-top: 80px;
}
.pie-text {
    position: absolute;
    top: 30px;
}
.online-amount {
    color: #ff4abd;
    font-size: 6rem;
    font-weight: 700;
    line-height: 5rem;
}

.visitors-today {
    color: #ce4aff;
    font-size: 3.2rem;
    font-weight: 700;
}
.no-margin {
    margin: 0;
}
.mobile-percentage {
    color: #000;
    font-weight: 700;
}

/* --- Highchart --- */
.highcharts-exporting-group {
    display: none;
}
.highcharts-credits {
    display: none;
}
.highcharts-background {
    height: auto;
}
.highcharts-legend {
    display: none;
}
.highcharts-title {
    display: none;
}

/* --- Online användare och mest besökta--- */
.flex-fix {
    width: 60%;
}
.user-wrapper {
    width: 33.4%;
}
.user-container {
    margin-bottom: 3rem;
}
.online-users p, .top-visited p {
    display: inline-block;
    margin: 0;
}
.total-visitors {
    font-weight: 700;
}

/* --- Spotify --- */
.spotify-wrapper {
    background-color: #fff;
    color: #adadad;
    font-size: 0.9rem;
    padding: 1.5rem;
    padding-left: 4rem;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0px 1px 40px 2px rgba(0,0,0,0.1);
    -webkit-clip-path: polygon(12% 0%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(12% 0%, 100% 0, 100% 100%, 0% 100%);
}
.spotify-container {
    display: flex;
    align-items: center;
}
.spotify-wrapper img {
    height: 25px;
}
.band-name {
    color: #000;
    font-weight: 700;
    margin: 0 0.5rem;
}
.song-title {
    color: #000;
    margin: 0 0.5rem;
}
.song-time {
    color: #adadad;
}
